html {
  width: 1219px;
  margin: auto;
--color-link: #ffffff;
}

@media ( max-width: 991px ) {
  html {
    width: 768px;
  }
}

@media ( max-width: 575px ) {
  html {
    width: 320px;
  }
}

nav {
  background: #343A40;
  color: var(--color-link);
  height: 56px;
  padding-left: 20px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: rgba(34, 34, 235, 0.925);
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

li {
  padding: 19px 8px 19px 8px;
  transition: 0.5s;
}

li:hover {
background: #212529;
}

header {
  background: #E9ECEF;
  height: 342px;
  padding-left: 50px;
}

h1 {
  margin: 0 0 23px 0;
  font-size: 72px;
  text-align: left;
  padding-top: 70px;
}

.description {
  width: 672px;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: #212529;
  margin: 0 0 23px 0;
}

button {
  font-family: sans-serif;
  color: var(--color-link);
  background: #007BFF;
  border-color: rgba(253, 253, 253, 0.719);
  font-size: 20px;
  width: 200px;
  height: 48px;
  border-radius: 6px;
}

.section-container .container-but button {
  font-size: 16px;
  width: 140px;
  height: 38px;
  border-radius: 6px;
  margin-top: 12px;
}

.section-container {
  display: flex;
  flex-direction: row;
}

.container-but {
  margin: 40px 0 30px 0;
  border-radius: 5px;
  border: 2px solid #00000020;
  width: 445px;
  height: 234px;
}

.container {
  margin: 40px 0 30px 50px;
  border-radius: 5px;
  border: 2px solid #00000020;
  width: 350px;
  height: 165px;
}

.div-header {
  height: 48px;
  background: #00000008;
  box-sizing: border-box;
  padding: 15px 0 0 20px ;
  font-weight: 550;
}

.div-main {
  background: var(--color-link);
  border-top: 2px solid #00000020;
  padding: 15px 0 10px 20px;
}

h3 {
  font-size: 20px;
  line-height: 19px;
  margin-top: 10px;
}

p {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

section {
  box-sizing: border-box;
}

.table {
 padding-left: 50px;
}

table {
  border-collapse: collapse;
  margin: 0;
}

thead {
  text-align: left;
  background: #E9ECEF;
}

th, td {
  border: 1px solid black;
  padding: 12px;
}

footer {
  background: #d5d6d8;
  height: 56px;
  box-sizing: border-box;
  margin: 0;
  padding-left: 50px;
  padding-top: 16px;
}