html {
  width: 1219px;
  margin: auto;

  /* Объявление переменной для цвета, который используется в нескольких местах */
  --color-link: #007BFF;
}

nav {
  /*
    Цвета, которые планируешь переиспользовать стоит хранить в переменных,
    чтобы потом при замене цвета у всех компонентов, где он используется
    изменить его только в одном месте (Пример далее с --color-link)
  */
  background: #343A40;
  color: white;
  /* Попробуй поиграться не с пикселями, а с rem, зачастую приходится больше работать именно с ними */
  height: 56px;
  padding-left: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  /*
    Ты уже рассчитал пиксели в padding li ниже, но использовал display: inline;
    Если сделать inline-block вместо inline - у тебя и без flex всё встанет на места
  */
  /* display: flex;
  justify-content: flex-start;
  text-align: center; */
}

li {
  display: inline-block;
  padding: 19px 8px 19px 8px;
}

header {
  background: #E9ECEF;
  height: 342px;
  padding-left: 50px;
}

h1 {
  margin: 0 0 23px 0;
  font-size: 72px;
  text-align: left;
  padding-top: 70px;
}

/*
  Не совсем верное название, это блок с текстом, который и так уже в хедере, но не является им.
  Вероятно, лучше обозвать этот класс как-нибудь по типу ".description"
  и организовать его как вложение у header:

  header .description { ... }
*/
.header {
  width: 672px;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 21px;
  /* left и так по дефолту, можно смело убрать стиль */
  text-align: left;
  color: #212529;
  margin: 0 0 23px 0;
}

button {
  font-family: sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  /* Использование цвета из переменной */
  background: var(--color-link);
  border-color: rgba(253, 253, 253, 0.719);
  width: 200px;
  height: 48px;
  border-radius: 6px;
}

.section-container {
  display: flex;
  flex-direction: row;
}

.container {
  margin: 40px 0 30px 50px;
  border-radius: 5px;
  border: 2px solid #00000020;
  width: 445px;
  height: auto;
}

.div-header {
  height: 48px;
  background: #00000008;
  box-sizing: border-box;
  padding: 15px 0 0 20px ;
  font-weight: 550;
}

.div-main {
  background: #FFFFFF;
  border-top: 2px solid #00000020;
  padding: 0 0 10px 20px;
}

h3 {
  font-size: 20px;
  line-height: 19px;
}

p {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

/* Ссылка белого цвета без подчеркивания */
nav a {
  text-decoration: none;
  color: white;
}

/* При наведении на <a> текст будет меняться на синий (UX логика) */
nav a:hover {
  /* Использование цвета из переменной */
  color: var(--color-link);
}